html(lang = 'en')

	head
		meta(name='google-site-verification' content='btZsefx89npSWGqMFlUmUrdUAs_03G_7uYNKJupZ6dY')

		link(rel = 'stylesheet' href = 'css/chartist.css')
		link(rel = 'stylesheet' href = 'css/root.css')
		link(rel = 'stylesheet' href = 'css/layout.css')
		link(rel = 'stylesheet' href = 'css/cards.css')
		link(rel = 'stylesheet' href = 'css/admin.css')
		link(rel = 'stylesheet' href = 'https://fonts.googleapis.com/css?family=Roboto:400,900')

		script(type = 'text/javascript' src='https://code.getmdl.io/1.2.1/material.min.js' defer = '')
		script(type = 'text/javascript' src='https://www.gstatic.com/charts/loader.js')
		script(type = 'text/javascript' src = 'http://momentjs.com/downloads/moment.min.js')
		script(type = 'text/javascript' src = 'js/jquery.js')
		script(type = 'text/javascript' src = 'js/socket.io.js')
		script(type = 'text/javascript' src = 'js/httpRequest.js')
		script(type = 'text/javascript' src = 'js/admin.js')

	body
		include header

		div.page
			table
				tr
					th Pseudo
					th Mail
					th Servo
					th Stream
					th Radiator
					th Door
					th Leds
				- if (!users)
					- users = []
				each user in users
					tr(id = user._id)
						td #{user.pseudo}
						td #{user.mail}
						td
							input.servo(id = user._id + 'servo' type = 'checkbox', checked = (user.permissions & 0b0000000000010000 ? true : false))
							label(for = user._id + 'servo')
						td
							input.stream(id = user._id + 'stream' type = 'checkbox', checked = (user.permissions & 0b0000000000001000 ? true : false))
							label(for = user._id + 'stream')
						td
							input.radiator(id = user._id + 'radiator' type = 'checkbox', checked = (user.permissions & 0b0000000000000100 ? true : false))
							label(for = user._id + 'radiator')
						td
							input.door(id = user._id + 'door' type = 'checkbox', checked = (user.permissions & 0b0000000000000010 ? true : false))
							label(for = user._id + 'door')
						td
							input.leds(id = user._id + 'leds' type = 'checkbox', checked = (user.permissions & 0b0000000000000001 ? true : false))
							label(for = user._id + 'leds')
