html(lang = 'en')

	head
		title #{title}
		//- script(type = 'text/javascript' src = '/socket.io/socket.io.js')
		//- script(type = 'text/javascript' src = 'js/jquery.min.js')

		link(rel = 'stylesheet' href = 'css/root.css')
		link(rel = 'stylesheet' href = 'css/layout.css')
		link(rel = 'stylesheet' href = 'css/cards.css')
		link(rel = 'stylesheet' href = 'css/connection.css')

	//- form(action = '/login' method = 'POST' enctype = 'multipart/form-data' onsubmit = 'return validate_form_connection ()')*/

	body
		include header

		//- div.card
		//- 	img(src = 'images/pi.png')
		div.card.container
			div.card.form.half#connectionPanel
				form(action = '/connection' method = 'POST')
					table
						tr
							td
								h3 Connection
						tr
							td
								input(name = 'pseudo' type = 'text' placeholder = 'Pseudo')
						tr
							td
								input(name = 'password' type = 'password' placeholder = 'Password')
						tr
							td
								input(name = 'submit' type = 'submit' value = 'Sign In')

			div.card.form.half#registrationPanel
				form(action = '/registration' method = 'POST')
					table
						tr
							td(colspan = 2)
								h3 Registration
						tr
							td(colspan = 2)
								input(name = 'mail' type = 'mail' placeholder = 'Mail')
						tr
							td
								input(name = 'pseudo' type = 'text' placeholder = 'Pseudo')
							td
								input(name = 'password' type = 'password' placeholder = 'Password')
						tr
							td(colspan = 2)
								input(name = 'submit' type = 'submit' value = 'Sign Up')
