head
	title #{code} - #{message}
	link(rel = 'stylesheet' href = 'css/chartist.css')
	link(rel = 'stylesheet' href = 'css/root.css')
	link(rel = 'stylesheet' href = 'css/layout.css')
	link(rel = 'stylesheet' href = 'css/cards.css')
	link(rel = 'stylesheet' href = 'https://fonts.googleapis.com/css?family=Roboto:400,900')

body
	include header

	div.card#error
		h1 #{code} - #{message}
