header
	h1 #{session}
	div#logo
		a(href = '/') SPA Helper
	- if (userId)
		- if (userInfos && userInfos.permissions & 0b100000)
			div.button#admin
				a(href = '/admin')
					img(src = 'icons/setting.png')
		div.button#connection
			a(href = '/disconnection')
				img(src = 'icons/logout.png')
	- else
		div.button#disconnection
			a(href = '/connection')
				img(src = 'icons/connection.png')
