html(lang = 'en')

	head
		meta(name='google-site-verification' content='btZsefx89npSWGqMFlUmUrdUAs_03G_7uYNKJupZ6dY')

		link(rel = 'stylesheet' href = 'css/root.css')
		link(rel = 'stylesheet' href = 'css/layout.css')
		link(rel = 'stylesheet' href = 'css/cards.css')
		link(rel = 'stylesheet' href = 'css/signalements.css')
		link(rel = 'stylesheet' href = 'css/chartist.css')
		link(rel = 'stylesheet' href = 'css/charts.css')
		link(rel = 'stylesheet' href = 'https://fonts.googleapis.com/css?family=Roboto:400,900')

		script(type = 'text/javascript' src = 'http://momentjs.com/downloads/moment.min.js')
		script(type = 'text/javascript' src = 'js/jquery.js')
		script(type = 'text/javascript' src = 'js/chartist.js')
		script(type = 'text/javascript' src = 'js/httpRequest.js')
		script(type = 'text/javascript' src = 'js/graphs.js')
		script(type = 'text/javascript' src = 'js/signalements.js')

	body
		include header

		div.card.container
			div.card.half.container
				div.card.quarter
				div.card.quarter.petsStatus
			div.card.half.petsPerDay

		div.card#create
			table
				tr
					th Status
					th Date
					th Heure
					th Alerteur
					th Adresse
					th Animal
					th Couleur
					th Etat
					th Collier
					th Brigade
				tr
					td
						select(name = 'status' required)
					td
						input(type = 'date' name = 'date' required)
					td
						input(type = 'time' name = 'creneau' required)
					td
						input(type = 'email' name = 'alerteur' required)
					td
						input(type = 'text' name = 'adresse' required)
					td
						input(type = 'text' name = 'animal' required)
					td
						input(type = 'text' name = 'couleur' required)
					td
						select(name = 'etat' required)
					td
						input(type = 'checkbox' name = 'collier')
					td
						select(name = 'brigade')
					td
						input(type = 'submit' onclick = 'create (this.parentElement.parentElement)' value = 'Creer')
		div.card#signalements
			table
				tr
					th Status
					th Date
					th Heure
					th Alerteur
					th Adresse
					th Animal
					th Couleur
					th Etat
					th Collier
					th Brigade
