.ct-series-a .ct-area, .si .ct-slice-pie {
	fill: #AD6121;
}

.ct-series-a .ct-area, .as .ct-slice-pie {
	fill: #146868;
}

.ct-series-a .ct-area, .sa .ct-slice-pie {
	fill: #1C8B1C;
}

.ct-series-a .ct-area, .ec .ct-slice-pie {
	fill: #FF0000;
}

.ct-series-a .ct-area, .an .ct-slice-pie {
	fill: grey;
}
