div.card.form table {
	width: 90%;
	margin: auto;
	margin-top: 30px;
}

div.card.form table tr:last-child td {
	width: 50%;
}

div.card.form input {
	margin: 5px;
	width: 100%;
	height: 25px;
	color: var(--grey_1);
	padding: 3px;
	border-radius: 0px;
	border: none;
	box-shadow: var(--shadow);
	font-size: 15px;
}

div.card.form input[type = 'submit'] {
	background: var(--pink);
	color: var(--white);
}

div.card.form input[type = 'button'] {
	background: #1C9B71;
	color: var(--white);
}
