body {
	padding-top: 70px;

	background: var(--background);
}

header {
	position: fixed;

	top: 0;

	width: 100%;
	height: 60px;

	background: var(--headerBackground);
	box-shadow: var(--shadow);

	z-index: 100000;
}

header div#logo {
	display: inline-block;

	width: auto;
	height: 30px;

	font-weight: bold;
	font-size: 30px;

	padding: 15px;
}

header div#disconnection,
header div#connection,
header div#admin {
	position: absolute;

	right: 10px;
	top: 0;
	padding: 10px;
}

header div#admin {
	right: 60px;
}

header div img {
	width: 40px;
	height: 40px;
}

div.page {
	width: 1024px;
	height: 100%;

	background: var(--cardBackground);
	box-shadow: var(--shadow);

	margin: auto;
	margin-top: -30px;
	padding-top: 30px;

	position: relative;

	/*top: -30px;*/
}
