:root {
	--grey_0: #000000;
	--grey_1: #111111;
	--grey_2: #222222;
	--grey_3: #333333;
	--grey_4: #444444;
	--grey_5: #555555;
	--grey_6: #666666;
	--grey_7: #777777;
	--grey_8: #888888;
	--grey_9: #999999;
	--grey_A: #AAAAAA;
	--grey_B: #BBBBBB;
	--grey_C: #CCCCCC;
	--grey_D: #DDDDDD;
	--grey_E: #EEEEEE;
	--grey_F: #FFFFFF;
	--pink: #D6264F;
	--background: var(--grey_3);
	--headerBackground: var(--grey_2);
	--cardBackground: var(--grey_4);
	--textColor: var(--grey_B);
	--shadowColor: #000000;
	--shadow: 0 2px 2px 0 rgba(0,0,0,.14),
			  0 3px 1px -2px rgba(0,0,0,.2),
			  0 1px 5px 0 rgba(0,0,0,.12);
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Roboto', 'Helvetica', sans-serif;
	color: var(--textColor);
	list-style: none;
}

.noselect * {
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
		 -moz-user-select: none;
		  -ms-user-select: none;
			  user-select: none;

	cursor: default;
}
