div.card#create {
	height: auto;
	padding: 20px 0px 20px 0px;
}

div.card table {
	width: 100%;
}

div.card table input {
	width: 100%;
	padding: 3px;
	border: none;
	height: 21px;
	background: white;
}

div.card table select {
	border: none;
	border-radius: 0;
	height: 21px;
	width: auto;
	padding: 3px 10px 3px 10px;

	-webkit-appearance: none;
}

div.card table tr.updating td {
	background: var(--grey_3);
}

div.card#signalements {
	height: auto;
	padding: 10px 0 10px 0;
}


div.card#signalements table {
	border-collapse: collapse;
}

div.card#signalements table:hover {
	cursor: pointer;
}

div.card#signalements table tr:first-child:hover {
	cursor: default;
}

div.card#signalements table tr:nth-child(2n+2) {
	background: var(--grey_5);
}

div.card#signalements table tr:nth-child(2n+3) {
	background: var(--grey_4);
}

div.card#signalements table td {
	text-align: center;
	border-top: solid 1px black;
}

div.card#signalements table td:first-child {
	border-right: solid 1px black;
	padding-right: 0px;
}

div.card#signalements table tr:nth-child(n+1) td:first-child {
	background: var(--grey_4);
}

.si {
	color: #AD6121;
}

.as {
	color: #146868;
}

.sa {
	color: #1C8B1C;
}

.ec {
	color: #FF0000;
}

.an {
	color: grey;
}
